# Impede o acesso às pastas do servidor
Options -Indexes

# Ativa o motor de reescrita
RewriteEngine On

# Define o diretório base para as regras de reescrita
# Ajuste '/PWProject' para o caminho correto do seu projeto, se necessário
RewriteBase /PWProject/

# Se o arquivo ou diretório solicitado não existir, redirecione para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]