
/* Conteúdo principal */
.content {
    position: relative; /* Permite que o z-index funcione */
    z-index: 1; /* Coloca o conteúdo acima da imagem de fundo */
}

/* Cartões */
.card {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente dos cartões */
    transition: transform 0.2s; /* Transição suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta o cartão ao passar o mouse */
}
